.navigation_link {
  font-size: 25px;
  font-weight: bold;
  color: rgb(77, 44, 3);
  &&:hover {
    color: rgb(81, 163, 136);
    transition: transform 0.4s ease;
    transform: scale(1) translateY(-10px);
  }
}

.navigation {
  display: flex;
  gap: 20px;
}
