.home_title {
  max-width: 500px;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  /* text-shadow: 0 0 0 transparent;
  transition: transform 0.3s ease, text-shadow 0.3s ease, font-size 0.3s ease; */
}

/* .home_title:hover {
  font-size: 23px;
  transform: translate(-10px, 15px);
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
} */
