.logout_btn {
  border: 1px solid;
  border-radius: 20px;
  background-color: rgb(240, 204, 160);
  font-size: 25px;
  padding: 7px;
  font-weight: bold;
  margin-left: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: rgb(77, 44, 3);
  &&:hover {
    padding: 10px;
    color: rgb(81, 163, 136);
    transition: transform 0.4s ease;
    /* transform: scale(1) translateY(-10px); */
    cursor: pointer;
  }
}

.welcome {
  margin-right: 25px;
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
  color: rgb(77, 44, 3);
}

.welcome_user_name {
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(77, 44, 3);
}
